*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

body {
  overflow: hidden;
    main {
     height: 100%;
     width: 100%;
     background-color: black;
     display: flex;
     align-items: center;
     justify-content: center;
     background-image: url('https://images.unsplash.com/photo-1610741083757-1ae88e1a17f7?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cmFpbnklMjBkYXl8ZW58MHx8MHx8fDA%3D');
     background-size: cover;
     background-position: center;
      .card{
        width: 450px;
        background: radial-gradient(lightcoral, skyblue);
        border-radius: 10px;
        padding: 30px;
        box-shadow: 12px 10px  0 rgb(114, 203, 114);      
        p{
          text-align: center;
          margin-bottom: 40px;
          font-size: 20px;
          font-weight: 500;
          span{
            font-weight: 600;
            color: royalblue;
          }
        }
        .outer {
          height: 20px;
          border-radius: 50px;
          width: 100%;
          background-color: rgb(184, 184, 184);
          .inner {
            height: 100%;
            width: 0%;
            border-radius: 50px;
            background-color: rgb(52, 215, 52);
          }
        }
        .bottom{
           display: flex;
           align-items: center;
           justify-content: space-between;
           margin-top: 20px; 
           h2{
            font-size: 60px;
            font-family: monospace;
            background-image: url('https://images.unsplash.com/photo-1720092150222-a95f6687cbc3?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8YmxhY2slMjBhbmQlMjB3aGl0ZSUyMGJhY2tnb3VuZHxlbnwwfHwwfHx8MA%3D%3D');
            background-size: cover;
            background-position: center;
            -webkit-background-clip: text;
            color: transparent;
           }
           button{
            padding: 12px 25px;
            background-color: rgb(7, 154, 7);
            color: white;
            border-radius: 5px;
            font-size: 18px;
            font-weight: 600;
            border: 0;
            cursor: pointer;
            &:active{
              scale: 0.95;
            }
          }
        }
      }
    }
}